.background{
    position: absolute;
    min-width: 100%;
    min-height: 300vh;    
    float: left;
    padding: 50px;
    background:white;
}
.column {
    float: left;
    width: 25%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row {
    content: "";
    display: table;
    clear: both;
  }